/* Creating background color */
        body{
            background-color: rgb(220, 220, 220);
        }
        
        /* Creating library to customize native commands in HTML  */    
        
        h1{
            font-size: 26px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: blueviolet;
        }

        p{
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        /* Creating CCS library to class */
        .paragrafo_especial{
            font-size: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: black;
        }

        .menu{
            font-size: 18px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
            color: rgb(8, 8, 58);
        }

        /* Collor styles to BootStrap page */
        .container{
            border: 3px solid black;
        }

        .div1{
            background-color: yellow;
        }

        .div2{
            background-color: green;
        }

        .div2{
            background-color: blue;
        }

        .div3{
            background-color: red;
        }